.Authentication_forgotpassword_form {
  width: 350px;
  padding: 20px;
  // box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);

  .Authentication_forgotpassword_signin_nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }

    .Authentication_forgotpassword_signin_nav_button {
      border: none;
      margin: 0;
      font-size: 14px;
      color: #2979ff;
      cursor: pointer;
      outline: none;
    }
  }
}